{% extends 'base.html'%}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Carrito De Compras</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <div class="container my-5">
            <h2 class="mb-4">Carrito de Compras</h2>
            
            <!-- Lista de productos -->
            {% if products%}
                {% for producto in products %}
                    <div class="list-group mb-4">
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <img src="{{ producto.image.url }}" alt="Producto 1" class="img-thumbnail me-3" style="width: 60px; height: 60px;">
                            <div>
                                <h5 class="mb-1">{{producto.name}}</h5>
                                <small>Precio: ${{producto.price}}</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <!-- Cambiar cantidad -->
                                 {% for key, value in quantities.items %}
                                    {% if key == producto.id|slugify %}
                                        <input type="number" class="form-control me-2" value="{{ value }}" min="1" style="width: 80px;" id="select{{producto.id}}">
                                    {% endif %}
                                 {% endfor %}
                                
                                
                                <!-- Eliminar producto -->
                                <!-- <span class="ms-3">$20.00</span> -->
                            </div>
                            <button type="button", data-index="{{producto.id}}" class="btn btn-secondary upadte-cart">Update</button>
                            <a href="#" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                            
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Total: $80.00</h5>
                    <button class="btn btn-outline-dark mt-auto">Proceder a la compra</button>
                </div>
            {% else %}
                <h5 class="mb-1">No hay nada en tu carrito de compras...</h5> 
            {% endif %}
            <!-- Total y botón de compra -->
           
        </div>
  <br><br><br><br><br><br>      


  <script>
    // verificar si el boton de carrito esta presionado 
    $(document).on('click', '.upadte-cart', function(e){
        e.preventDefault();

        var productid = $(this).data('index');
        var productQty = $('#select' + productid).val();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_update" %}',
            data: {
                product_id: productid,
                product_qty: productQty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                //console.log(json)
                //document.getElementById("cart_quantity").
                    //textContent = json.qty
                    location.reload();
            },

            error: function(xhr, errmsg, err){
                console.log("Error: " + errmsg);
            },
        });
    })
</script>
 {% endblock %}