{% extends 'base.html'%}
{% block content %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Quienes Somos?</h1>
            <p class="lead fw-normal text-white-50 mb-0">Conozcan Nuestra Historia</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis velit id tristique dignissim. Nulla sit amet purus quis sapien fermentum auctor non id nisl. Sed non nunc dignissim, laoreet eros non, fermentum ligula. Fusce metus metus, tincidunt in sollicitudin id, ultrices at odio. Nunc nec mollis enim, eget iaculis justo. Fusce ut eros at leo congue tempor. Sed maximus enim sed mauris pharetra, non ullamcorper velit feugiat. In mollis condimentum leo eu porttitor. Maecenas eros felis, rhoncus nec hendrerit in, auctor sit amet est.
                    <br><br>
                    Phasellus placerat egestas hendrerit. In commodo suscipit ultricies. Pellentesque ultricies nunc est, sit amet consectetur turpis tincidunt at. Duis feugiat ante nulla, ac viverra leo blandit at. Etiam eget mauris venenatis, malesuada nisi eget, laoreet ante. Nullam in accumsan leo, vel tincidunt quam. Proin imperdiet metus et sem imperdiet, a tempor lorem lacinia. Quisque eleifend blandit nulla ut rhoncus. Morbi dignissim feugiat fringilla. Duis fermentum tristique egestas. Nam scelerisque ligula dolor, at semper dolor fermentum ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed tincidunt dolor, sed pellentesque turpis. Praesent id purus eget nulla pulvinar vulputate.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, arcu sit amet volutpat blandit, erat lorem condimentum est, a aliquam turpis ipsum a sem. Aenean sollicitudin velit nibh. Praesent scelerisque, ligula et blandit varius, quam est convallis eros, quis venenatis magna felis eget sapien. Nunc rutrum ante ut dictum facilisis. Nullam ac dignissim libero. Nulla porta, purus a posuere elementum, nulla sem sollicitudin magna, sed consectetur elit nisi lobortis nisl. Pellentesque nec leo non nibh semper suscipit. Vivamus id commodo nulla, quis porta erat. Ut a placerat elit. Aenean a augue vitae nulla pellentesque egestas. Etiam maximus nisi est, ac facilisis nulla consequat sit amet. Duis varius lacus felis, non porttitor felis dictum et. Ut fringilla feugiat eros id condimentum.
                    <br><br>   
                </p>    
            </div>
        </center>

    </div>
</div>

{% endblock %}