{% extends 'base.html'%}

{% block content %}
        <!-- Header-->
        <!-- <header class="bg-dark py-5"> -->
        <header class="bg-dark py-5" style="background: url('https://images.unsplash.com/photo-1682084252313-c816bffa2a81?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center; background-size: cover;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Tienda Impacto</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tienda De Publiciad Con Estilo</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    
                    {% for producto in productos %}
                        {% if producto.is_sale %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Promo</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ producto.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ producto.name }}</h5>
                                        <!-- Product price-->
                                        <strike>
                                        ${{ producto.price }}
                                        </strike>
                                        &nbsp;
                                        ${{ producto.sale_price }}
                                        <br/>
                                        {{ producto.description }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'product' producto.id%}">Ver Producto</a></div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ producto.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ producto.name }}</h5>
                                        <!-- Product price-->
                                        ${{ producto.price }}
                                        <br/>
                                        {{ producto.description }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'product' producto.id%}">Ver Producto</a></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}

                    
                </div>
            </div>
        </section>
 {% endblock %}