<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Tienda Impacto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Buscar</a></li>
                
                {% if user.is_authenticated %}
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_user'%}">Perfil</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'update_user'%}">Perfil de Usuario</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_info'%}">Informacion Complementaria</a></li>
                        <li><a class="dropdown-item" href="{% url 'logaut' %}">Salir</a></li>
                    </ul>
                </li>
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'shipped_dash'%}">Ordenes Enviadas</a></li>
                            <li><a class="dropdown-item" href="{% url 'not_shipped_dash'%}">Ordenes Por Enviar</a></li>    
                        </ul>
                    </li>
                    {% endif %}
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Ingresar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
                {% endif %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary'%}">Todos Los Productos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Categoria 1'%}">Categoria 1</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Categoria 2'%}">Categoria 2</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Categoria 3'%}">Categoria 3</a></li>
                    </ul>
                </li>
            </ul>
            <a href="{% url 'cart_sumary' %}" class="btn btn-outline-dark">
                <form class="d-flex">
                    
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                    
                </form>
            </a>
        </div>
    </div>
</nav>