{% extends 'base.html'%}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Facturacion</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Ingresa tu Informacion para el pago...</p>
                </div>
            </div>
        </header>
        <br><br><br>
            <div class="container">
                <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-header">
                                  Resumen Del Pedido
                                </div>
                                <div class="card-body">
                                    
                                    {% for producto in products %}
                                        {{producto.name}}:
                                        ${{producto.price}}
                                        <br>
                                        <small>Cantidad:
                                        {% for key, value in quantities.items %}
                                            {% if key == producto.id|slugify %}
                                                {{ value }}
                                            {% endif %}
                                        {% endfor %}</small>
                                        <br><br>
                                    {% endfor %}

                                    <br>
                                    <strong>Total: ${{totals}}</strong>
                                    <br><br>
                                    <a href="{% url 'cart_sumary' %}" class="btn btn-sm btn-outline-secondary">Actualizar Pedido</a>
                                  
                                </div>
                              </div>
                              <br><br>
                              <div class="card">
                                <div class="card-header">
                                  Informacion De Envio
                                </div>
                                <div class="card-body">
                             
                                  Nombre: {{ shipping_info.shipping_full_name }} <br>
                                  Correo: {{ shipping_info.shipping_email }} <br>
                                  Direccion: {{ shipping_info.shipping_address1 }} <br>
                                  Telefono: {{ shipping_info.shipping_phone }} <br>
                                  Ciudad: {{ shipping_info.shipping_city }} <br>
                                  Estado: {{ shipping_info.shipping_state }} <br>
                                  Codigo: {{ shipping_info.shipping_zipcode }} <br>
                                  <br>
                                  <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Actualizar Envio</a>
                                  
                                </div>
                              </div>

                              <br>
                              <div class="card">
                                <div class="card-header">
                                  Informacion De Facturacion
                                </div>
                                <div class="card-body">
                                    {{billing_form.as_p}}
                                  
                                </div>
                              </div>
                              <br>
                              <a href="#" class="btn btn-secondary">Pagar Ahora</a>
                            
                        </div>
                </div>        
            </div>
            <!-- Total y botón de compra -->
           
        
  <br><br><br><br><br><br>      


 {% endblock %}